table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

caption {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

thead tr {
    background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
